---
import Layout from '../layouts/Layout.astro'
import { SampleLineChart } from '../components/SampleLineChart'
import { RegionSelector } from '../components/RegionSelector'
import '../styles/global.css'
---

<Layout>
  <h1>Huila</h1>
  <div style="padding: 40px 20px;">
    <RegionSelector client:only="react" />
  </div>
  <div style="padding: 40px 20px;">
    <SampleLineChart client:load />
  </div>
</Layout>
