---
import Layout from '../layouts/Layout.astro';
import { SampleLineChart } from '../components/SampleLineChart';
import { RegionSelector } from '../components/RegionSelector';
---

<Layout>
	<div style="padding: 40px 20px;">
		<RegionSelector client:load />
	</div>
	<div style="padding: 40px 20px;">
		<SampleLineChart client:load />
	</div>
</Layout>
