---
import { SuicideChart } from './SuicideChart'

type ChartPoint = { anio: number; [key: string]: number | string }

interface Props {
  title: string
  text: string
  data: ChartPoint[] | undefined
  csvPath?: string
}

const { title, text, data, csvPath } = Astro.props
---

<div class="flex flex-col gap-2">
  <h1 class="text-3xl font-bold my-6">{title}</h1>
  <p class="text-gray-700">{text}</p>
  {data && <SuicideChart data={data} csvPath={csvPath} client:load />}
</div>
